* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

*::-webkit-scrollbar-thumb {
  background: #f08967;
  background: -webkit-gradient(linear, left bottom, left top, from(#f08967), color-stop(50%, #f7cd6b), to(#dde46e));
  background: linear-gradient(0deg, #f08967 0%, #f7cd6b 50%, #dde46e 100%);
  border-radius: 8px;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background-image: url("../img/bk_4.webp");
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  /*Siempre es necesario cuando trabajamos con alturas*/
}

ul, li {
  list-style: none;
}

.inicio {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 98%;
  margin: 8px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.inicio .titulo h1 {
  color: #fff;
}

.inicio .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 3rem;
  border-radius: 12px;
}

.inicio .nav .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.inicio .nav .nav_ul li {
  margin-top: 12px;
}

.inicio .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  -webkit-transition: .2s all;
  transition: .2s all;
  text-align: center;
  margin: 8px 5px;
}

.inicio .nav a:hover {
  color: #dc3545;
}

.media-scroller {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  margin: 5px auto;
  width: 98%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: -ms-grid;
  display: grid;
  grid-template-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
      grid-template-rows: min-content;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.media-element .media {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 8px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.media-element .media:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.media-element .media:active {
  background-color: rgba(93, 236, 64, 0.5);
}

.media-element .media p {
  color: #fff;
}

.media-element .media img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}

.snaps-inline {
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
}

.snaps-inline * {
  scroll-snap-align: start;
}

.caja {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #f7cd6b;
  padding: 12px;
  border-radius: 12px;
      grid-template-areas: "img contenido contenido" "boton boton boton";
}

.caja .imagen {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
}

.caja .imagen img {
  margin: 0;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.caja .contenido {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: contenido;
}

.caja .contenido h3 {
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.caja .contenido p {
  font-size: 1em;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.caja .boton {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: boton;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caja .boton a {
  background: #d9d2e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#d9d2e9), to(#073763));
  background: linear-gradient(#d9d2e9, #073763);
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.btn_ver_mas {
  margin: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.btn_ver_mas a {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 11px;
  padding: 20px 45px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.btn_ver_mas a:hover {
  background-color: #198754;
}

@media screen and (min-width: 800px) {
  .btn_ver_mas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

.grid_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 12px 8px;
}

@media screen and (min-width: 800px) {
  .grid_2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.grid_2 .two_x_one {
  margin: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.grid_2 .two_x_two {
  margin: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

@media screen and (min-width: 1200px) {
  .grid_2 .two_x_one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .grid_2 .two_x_two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.grid_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 12px 8px;
}

@media screen and (min-width: 800px) {
  .grid_3 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid_3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.grid_3 p {
  color: #fff;
  font-weight: bold;
  font-size: .5em;
  text-align: center;
  display: block;
}

@media screen and (min-width: 240px) {
  .grid_3 p {
    font-size: 1em;
  }
}

@media screen and (min-width: 460px) {
  .grid_3 p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .grid_3 p {
    font-size: 2em;
  }
}

.grid_3 .two_x_two {
  background-color: #0d6efd;
  padding: 12px;
  width: 100%;
  margin: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.grid_3 .two_x_two:hover {
  background-color: #dc3545;
}

.grid_3 .two_x_two:active {
  background-color: #6f42c1;
}

.grid_3 .one_x_tree {
  background-color: #198754;
  padding: 12px;
  width: 100%;
  margin: 5px;
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.grid_3 .one_x_tree:hover {
  background-color: #6c757d;
}

.grid_3 .one_x_tree:active {
  background-color: #282b3a;
}

.grid_3 .tree_x_tree {
  background-color: #d63384;
  padding: 12px;
  width: 100%;
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.grid_3 .tree_x_tree:hover {
  background-color: #fd7e14;
}

.grid_3 .tree_x_tree:active {
  background-color: #0dcaf0;
}

#menu_principal {
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  /*A la derecha deje un espacio de 0px*/
  right: 0px;
  /*A la izquierda deje un espacio de 0px*/
  bottom: 0;
  height: 50px;
  padding: 12px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#menu_principal .lista_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-left: -12px;
}

#menu_principal .lista_menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#menu_principal .lista_menu a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: .2s all;
  transition: .2s all;
}

#menu_principal .lista_menu a li:hover {
  color: #198754;
}

#menu_principal .lista_menu a li p {
  display: none;
}

@media screen and (min-width: 800px) {
  #menu_principal .lista_menu a li p {
    display: block;
  }
}

.tarjeta_perfil {
  width: 80%;
  margin: 0 auto;
  margin-top: -40px;
}

.tarjeta_perfil .tarjeta_perfil_foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.tarjeta_perfil .tarjeta_perfil_foto img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: -180px;
}

.tarjeta_perfil .tarjeta_perfil_datos {
  background-color: #fff;
  padding: 0 12px;
  padding-top: 50px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.contenedor {
  width: 90%;
  margin: 8px auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 12px;
  text-align: center;
}

.contenedor_sin_fondo {
  width: 90%;
  margin: 8px auto;
}

table, th, td {
  background: #eff3f5;
  border-radius: 12px;
  font-size: 1em;
  padding: 8px;
  margin: 0 auto;
  border: 3px solid #212529;
}

div#div_file {
  position: relative;
  margin: 12px auto;
  padding: 10px;
  width: 150px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}

input#imagen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input#btn_enviar {
  padding: 15px;
  background-color: #60cf4e;
  color: #fff;
  border: 0;
  font-size: 1em;
  border-radius: 12px;
  cursor: pointer;
}

.espaciador {
  height: 50px;
}
/*# sourceMappingURL=cetrix.ios.css.map */